d365fo-sb-all-tt-taxgroup/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose": {
                "type": "Compose",
                "inputs": {
                    "Blobs": [],
                    "CorrelationId": "@body('Parse_JSON')?['CorrelationId']",
                    "Identifiers": "",
                    "MessageDate": "@body('Parse_JSON')?['MessageDate']",
                    "MessageType": "@body('Parse_JSON')?['MessageType']",
                    "Operation": "@body('Parse_JSON')?['Operation']",
                    "Payload": {
                        "TaxCodes": "@body('Parse_JSON')?['TaxCodes']",
                        "TaxGroup": "@body('Parse_JSON')?['TaxGroup']",
                        "TaxGroupName": "@body('Parse_JSON')?['TaxGroupName']",
                        "DataAreaId": "@body('Parse_JSON')?['DataAreaId']",
                        "id": "@body('Parse_JSON')?['SourceId']"
                    },
                    "Source": "@body('Parse_JSON')?['Source']",
                    "SourceId": "@body('Parse_JSON')?['SourceId']"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Send_message": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "entityName": "enterprise-entity-updates",
                        "message": {
                            "contentData": "@outputs('Compose')",
                            "contentType": "application/json",
                            "userProperties": {
                                "Source": "@body('Parse_JSON')?['Source']",
                                "MessageType": "@body('Parse_JSON')?['MessageType']"
                            }
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "PrivateServiceBus",
                        "operationId": "sendMessage",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerOutputs()?['body']?['contentData']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "BusinessEventId": {
                                "type": "string"
                            },
                            "BusinessEventLegalEntity": {
                                "type": "string"
                            },
                            "ContextRecordSubject": {
                                "type": "string"
                            },
                            "ControlNumber": {
                                "type": "integer"
                            },
                            "CorrelationId": {
                                "type": "string"
                            },
                            "DataAreaId": {
                                "type": "string"
                            },
                            "EventId": {
                                "type": "string"
                            },
                            "EventTime": {
                                "type": "string"
                            },
                            "EventTimeIso8601": {
                                "type": "string"
                            },
                            "InitiatingUserAADObjectId": {
                                "type": "string"
                            },
                            "MajorVersion": {
                                "type": "integer"
                            },
                            "MessageDate": {
                                "type": "string"
                            },
                            "MessageType": {
                                "type": "string"
                            },
                            "MinorVersion": {
                                "type": "integer"
                            },
                            "Operation": {
                                "type": "string"
                            },
                            "ParentContextRecordSubjects": {
                                "type": "array"
                            },
                            "Source": {
                                "type": "string"
                            },
                            "SourceId": {
                                "type": "string"
                            },
                            "TaxCodes": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "CurrencyCode": {
                                            "type": "string"
                                        },
                                        "ExemptTax": {
                                            "type": "boolean"
                                        },
                                        "TaxCode": {
                                            "type": "string"
                                        },
                                        "TaxName": {
                                            "type": "string"
                                        },
                                        "TaxValue": {
                                            "type": "integer"
                                        },
                                        "UseTax": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "CurrencyCode",
                                        "ExemptTax",
                                        "TaxCode",
                                        "TaxName",
                                        "TaxValue",
                                        "UseTax"
                                    ]
                                }
                            },
                            "TaxGroup": {
                                "type": "string"
                            },
                            "TaxGroupName": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "d365fo-business-events",
                        "subscriptionName": "tax-group",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "PublicServiceBus",
                        "operationId": "receiveTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}