d365fo-sb-all-tt-customer/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose": {
                "type": "Compose",
                "inputs": {
                    "Blobs": "@body('Parse_JSON')?['Attachments']",
                    "CorrelationId": "@body('Parse_JSON')?['CorrelationId']",
                    "Identifiers": "",
                    "MessageDate": "@body('Parse_JSON')?['MessageDate']",
                    "MessageType": "@body('Parse_JSON')?['MessageType']",
                    "Operation": "@body('Parse_JSON')?['Operation']",
                    "Payload": {
                        "CustomerNumber": "@body('Parse_JSON')?['AccountNum']",
                        "Addresses": "@body('Parse_JSON')?['Addresses']",
                        "IsBlocked": "@body('Parse_JSON')?['IsBlocked']",
                        "CustGroup": "@body('Parse_JSON')?['CustGroup']",
                        "Name": "@body('Parse_JSON')?['CustName']",
                        "DataAreaId": "@body('Parse_JSON')?['DataAreaId']",
                        "Email": "@body('Parse_JSON')?['Email']",
                        "InventLocation": "@body('Parse_JSON')?['InventLocation']",
                        "InventSite": "@body('Parse_JSON')?['InventSite']",
                        "InvoiceAccount": "@body('Parse_JSON')?['InvoiceAccount']",
                        "PriceGroup": "@body('Parse_JSON')?['PriceGroup']",
                        "SalesGroup": "@body('Parse_JSON')?['SalesGroup']",
                        "SalesTaxGroup": "@body('Parse_JSON')?['SalesTaxGroup']",
                        "WatchListStatus": "@if(equals(body('Parse_JSON')?['WatchListStatus'],''),'Undefined', body('Parse_JSON')?['WatchListStatus'])",
                        "BillingType": "@if(equals(body('Parse_JSON')?['BillingType'],''),'Undefined', body('Parse_JSON')?['BillingType'])",
                        "AccountStatus": "@body('Parse_JSON')?['AccountStatus']",
                        "AccountTypes": "@body('Parse_JSON')?['AccountTypes']",
                        "CreditLimit": "@body('Parse_JSON')?['CreditLimit']",
                        "CreditStatus": "@body('Parse_JSON')?['CreditStatus']",
                        "CustomerTmaGroup": "@body('Parse_JSON')?['CustomerTmaGroup']",
                        "BillingTransferRecipientId": "@body('Parse_JSON')?['BillingTransferRecipientId']",
                        "BillingTransferRecipientName": "@body('Parse_JSON')?['BillingTransferRecipientName']",
                        "MailingRecipientName": "@body('Parse_JSON')?['MailingRecipientName']",
                        "DUNSNumber": "@body('Parse_JSON')?['DUNSNumber']",
                        "GSTNumber": "@body('Parse_JSON')?['GSTNumber']",
                        "OperatorLicenseCode": "@body('Parse_JSON')?['OperatorLicenseCode']",
                        "HasPriceBook": "@body('Parse_JSON')?['HasPriceBook']",
                        "IsEdiFieldsEnabled": "@body('Parse_JSON')?['IsEdiFieldsEnabled']",
                        "IsElectronicBillingEnabled": "@body('Parse_JSON')?['IsElectronicBillingEnabled']",
                        "NetOff": "@body('Parse_JSON')?['NetOff']",
                        "CreditApplicationReceived": "@body('Parse_JSON')?['CreditApplicationReceived']",
                        "EnableCreditMessagingRedFlag": "@body('Parse_JSON')?['EnableCreditMessagingRedFlag']",
                        "EnableCreditMessagingGeneral": "@body('Parse_JSON')?['EnableCreditMessagingGeneral']",
                        "DisplayRedFlagMessage": "@body('Parse_JSON')?['DisplayRedFlagMessage']",
                        "id": "@body('Parse_JSON')?['SourceId']"
                    },
                    "Source": "@body('Parse_JSON')?['Source']",
                    "SourceId": "@body('Parse_JSON')?['SourceId']"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Send_message": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "entityName": "enterprise-entity-updates",
                        "message": {
                            "contentData": "@outputs('Compose')",
                            "contentType": "application/json",
                            "userProperties": {
                                "Source": "@body('Parse_JSON')?['Source']",
                                "MessageType": "@body('Parse_JSON')?['MessageType']"
                            }
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "PrivateServiceBus",
                        "operationId": "sendMessage",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerOutputs()?['body']?['contentData']",
                    "schema": {
                        "properties": {
                            "AccountNum": {
                                "type": "string"
                            },
                            "Addresses": {
                                "items": [
                                    {
                                        "properties": {
                                            "AddressType": {
                                                "type": "string"
                                            },
                                            "City": {
                                                "type": "string"
                                            },
                                            "Country": {
                                                "type": "string"
                                            },
                                            "IsPrimary": {
                                                "type": "boolean"
                                            },
                                            "Province": {
                                                "type": "string"
                                            },
                                            "State": {
                                                "type": "string"
                                            },
                                            "Street": {
                                                "type": "string"
                                            },
                                            "ZipCode": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ],
                                "type": "array"
                            },
                            "Attachments": {
                                "files": [
                                    {
                                        "properties": {
                                            "Blob": {
                                                "type": "string"
                                            },
                                            "ContainerName": {
                                                "type": "string"
                                            },
                                            "ContentType": {
                                                "type": "string"
                                            },
                                            "FileName": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ],
                                "type": "array"
                            },
                            "IsBlocked": {
                                "type": "boolean"
                            },
                            "BusinessEventId": {
                                "type": "string"
                            },
                            "ControlNumber": {
                                "type": "integer"
                            },
                            "CorrelationId": {
                                "type": "string"
                            },
                            "CustGroup": {
                                "type": "string"
                            },
                            "CustName": {
                                "type": "string"
                            },
                            "CustomerTmaGroup": {
                                "type": "string"
                            },
                            "DataAreaId": {
                                "type": "string"
                            },
                            "Email": {
                                "type": "string"
                            },
                            "EventId": {
                                "type": "string"
                            },
                            "EventTime": {
                                "type": "string"
                            },
                            "InventLocation": {
                                "type": "string"
                            },
                            "InventSite": {
                                "type": "string"
                            },
                            "InvoiceAccount": {
                                "type": "string"
                            },
                            "MajorVersion": {
                                "type": "integer"
                            },
                            "MessageDate": {
                                "type": "string"
                            },
                            "MessageType": {
                                "type": "string"
                            },
                            "MinorVersion": {
                                "type": "integer"
                            },
                            "Operation": {
                                "type": "string"
                            },
                            "PriceGroup": {
                                "type": "string"
                            },
                            "SalesGroup": {
                                "type": "string"
                            },
                            "SalesTaxGroup": {
                                "type": "string"
                            },
                            "Source": {
                                "type": "string"
                            },
                            "WatchListStatus": {
                                "type": "string"
                            },
                            "BillingType": {
                                "type": "string"
                            },
                            "AccountStatus": {
                                "type": "string"
                            },
                            "AccountTypes": {
                                "type": "string"
                            },
                            "CreditStatus": {
                                "type": "string"
                            },
                            "CreditLimit": {
                                "type": "number"
                            },
                            "BillingTransferRecipientId": {
                                "type": "string"
                            },
                            "BillingTransferRecipientName": {
                                "type": "string"
                            },
                            "MailingRecipientName": {
                                "type": "string"
                            },
                            "DUNSNumber": {
                                "type": "string"
                            },
                            "GSTNumber": {
                                "type": "string"
                            },
                            "OperatorLicenseCode": {
                                "type": "string"
                            },
                            "HasPriceBook": {
                                "type": "boolean"
                            },
                            "IsEdiFieldsEnabled": {
                                "type": "boolean"
                            },
                            "IsElectronicBillingEnabled": {
                                "type": "boolean"
                            },
                            "NetOff": {
                                "type": "boolean"
                            },
                            "CreditApplicationReceived": {
                                "type": "boolean"
                            },
                            "EnableCreditMessagingRedFlag": {
                                "type": "boolean"
                            },
                            "EnableCreditMessagingGeneral": {
                                "type": "boolean"
                            },
                            "DisplayRedFlagMessage": {
                                "type": "boolean"
                            },
                            "SourceId": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {}
            }
        },
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "d365fo-business-events",
                        "subscriptionName": "customer-updates",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "PublicServiceBus",
                        "operationId": "receiveTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}