d365fo-sb-all-tt-contact/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose": {
                "type": "Compose",
                "inputs": {
                    "Blobs": [],
                    "CorrelationId": "@body('Parse_JSON')?['CorrelationId']",
                    "Identifiers": "",
                    "MessageDate": "@body('Parse_JSON')?['MessageDate']",
                    "MessageType": "@body('Parse_JSON')?['MessageType']",
                    "Operation": "@body('Parse_JSON')?['Operation']",
                    "Payload": {
                        "Addresses": "@body('Parse_JSON')?['Addresses']",
                        "CustAccount": "@body('Parse_JSON')?['CustAccount']",
                        "AccountId": "@body('Parse_JSON')?['CustSourceId']",
                        "DataAreaId": "@body('Parse_JSON')?['DataAreaId']",
                        "Email": "@body('Parse_JSON')?['Email']",
                        "FirstName": "@body('Parse_JSON')?['FirstName']",
                        "IsActive": "@body('Parse_JSON')?['IsActive']",
                        "IsPrimary": "@body('Parse_JSON')?['IsPrimary']",
                        "LastName": "@body('Parse_JSON')?['LastName']",
                        "Phone": "@body('Parse_JSON')?['Phone']",
                        "Title": "@body('Parse_JSON')?['Title']",
                        "id": "@body('Parse_JSON')?['SourceId']"
                    },
                    "Source": "@body('Parse_JSON')?['Source']",
                    "SourceId": "@body('Parse_JSON')?['SourceId']"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Send_message": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "entityName": "enterprise-entity-updates",
                        "message": {
                            "contentData": "@outputs('Compose')",
                            "contentType": "application/json",
                            "userProperties": {
                                "Source": "@body('Parse_JSON')?['Source']",
                                "MessageType": "@body('Parse_JSON')?['MessageType']"
                            }
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "PrivateServiceBus",
                        "operationId": "sendMessage",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerOutputs()?['body']?['contentData']",
                    "schema": {
                        "properties": {
                            "Addresses": {
                                "items": [
                                    {
                                        "properties": {
                                            "AddressType": {
                                                "type": "string"
                                            },
                                            "City": {
                                                "type": "string"
                                            },
                                            "Country": {
                                                "type": "string"
                                            },
                                            "IsPrimary": {
                                                "type": "boolean"
                                            },
                                            "Province": {
                                                "type": "string"
                                            },
                                            "State": {
                                                "type": "string"
                                            },
                                            "Street": {
                                                "type": "string"
                                            },
                                            "ZipCode": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ],
                                "type": "array"
                            },
                            "BusinessEventId": {
                                "type": "string"
                            },
                            "ControlNumber": {
                                "type": "integer"
                            },
                            "CorrelationId": {
                                "type": "string"
                            },
                            "CustAccount": {
                                "type": "string"
                            },
                            "DataAreaId": {
                                "type": "string"
                            },
                            "Email": {
                                "type": "string"
                            },
                            "EventId": {
                                "type": "string"
                            },
                            "EventTime": {
                                "type": "string"
                            },
                            "FirstName": {
                                "type": "string"
                            },
                            "IsActive": {
                                "type": "boolean"
                            },
                            "IsPrimary": {
                                "type": "boolean"
                            },
                            "LastName": {
                                "type": "string"
                            },
                            "MajorVersion": {
                                "type": "integer"
                            },
                            "MessageDate": {
                                "type": "string"
                            },
                            "MessageType": {
                                "type": "string"
                            },
                            "MinorVersion": {
                                "type": "integer"
                            },
                            "Operation": {
                                "type": "string"
                            },
                            "Phone": {
                                "type": "string"
                            },
                            "Source": {
                                "type": "string"
                            },
                            "SourceId": {
                                "type": "string"
                            },
                            "CustSourceId": {
                                "type": "string"
                            },
                            "Title": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {}
            }
        },
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "d365fo-business-events",
                        "subscriptionName": "contactperson-updates",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "PublicServiceBus",
                        "operationId": "receiveTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}