d365fo-sb-all-tt-legalentity/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose": {
                "type": "Compose",
                "inputs": {
                    "Blobs": [],
                    "CorrelationId": "@body('Parse_JSON')?['CorrelationId']",
                    "Identifiers": "",
                    "MessageDate": "@body('Parse_JSON')?['MessageDate']",
                    "MessageType": "@body('Parse_JSON')?['MessageType']",
                    "Operation": "@body('Parse_JSON')?['Operation']",
                    "Payload": {
                        "BusinessStream": "@body('Parse_JSON')?['BusinessStream']",
                        "CountryCode": "@body('Parse_JSON')?['Country']",
                        "CreditExpiryThreshold": "@body('Parse_JSON')?['CreditExpiryThreshold']",
                        "Code": "@body('Parse_JSON')?['DataAreaId']",
                        "Name": "@body('Parse_JSON')?['Name']",
                        "RemitToDuns": "@body('Parse_JSON')?['RemitToDuns']",
                        "id": "@body('Parse_JSON')?['SourceId']"
                    },
                    "Source": "@body('Parse_JSON')?['Source']",
                    "SourceId": "@body('Parse_JSON')?['SourceId']"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Send_message": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "entityName": "enterprise-entity-updates",
                        "message": {
                            "contentData": "@outputs('Compose')",
                            "contentType": "application/json",
                            "userProperties": {
                                "Source": "@body('Parse_JSON')?['Source']",
                                "MessageType": "@body('Parse_JSON')?['MessageType']"
                            }
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "PrivateServiceBus",
                        "operationId": "sendMessage",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerOutputs()?['body']?['contentData']",
                    "schema": {
                        "properties": {
                            "BusinessEventId": {
                                "type": "string"
                            },
                            "BusinessStream": {
                                "type": "string"
                            },
                            "ControlNumber": {
                                "type": "integer"
                            },
                            "CorrelationId": {
                                "type": "string"
                            },
                            "Country": {
                                "type": "string"
                            },
                            "CreditExpiryThreshold": {
                                "type": "integer"
                            },
                            "DataAreaId": {
                                "type": "string"
                            },
                            "EventId": {
                                "type": "string"
                            },
                            "EventTime": {
                                "type": "string"
                            },
                            "MajorVersion": {
                                "type": "integer"
                            },
                            "MessageDate": {
                                "type": "string"
                            },
                            "MessageType": {
                                "type": "string"
                            },
                            "MinorVersion": {
                                "type": "integer"
                            },
                            "Name": {
                                "type": "string"
                            },
                            "Operation": {
                                "type": "string"
                            },
                            "RemitToDuns": {
                                "type": "string"
                            },
                            "Source": {
                                "type": "string"
                            },
                            "SourceId": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {}
            }
        },
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "d365fo-business-events",
                        "subscriptionName": "legal-entity",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "PublicServiceBus",
                        "operationId": "receiveTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}